<div style="background-color: gray;">
    {{#each books}}
        <li style="margin: 10px; background-color: yellow; padding: 5px;">
            Title :
            {{this.title}}
            <br>
            Author :
            {{this.author}}
        </li>
    {{/each}}
</div>